doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css")
        link(rel="stylesheet", href="./css/styles.css")
    body 
        header 
            nav(class = "navbar")
                a(class = "nav__branding") THE MOVIES APP 
                ul(class = "nav__menu" id = "nav__menu__admin")
                    li(class = "nav__item" id = "nav__item")
                        p(href = "#Cerrar sesi칩n", class = "nav__link", onclick="logOut()") Cerrar Sesi칩n
                            i(class = "bx bx-log-out")
                div(class = "hamburguer")
                    span.bar 
                    span.bar 
                    span.bar
main
    p(type="button" onclick="goBackBtn()") 
        i(class='bx bx-arrow-back') Go back!
    if success 
        p #{success}
    div#form-container
        form(action="/createMovie" method="POST")
            label(for="titulo") Titulo 
            input(type="text" placeholder="Ej: Titanic" name="titulo")
            
            label(for="year") A침o 
            input(type="text" placeholder="Ej: 1997" name="year")
            
            label(for="director") Director 
            input(type="text" placeholder="Ej: James Cameron" name="director")
            
            label(for="genero") Genero 
            input(type="text" placeholder="Ej: Drama/Romance"   name="genero")
            
            label(for="duracion") Duraci칩n 
            input(type="text" placeholder="Ej: 195 mins" name="duracion")
            
            label(for="imagen") Imagen 
            input(type="text" name="imagen")
            
            input(type="submit" id="form-btn" value="Save")

script(src="/js/create_movie.js")
script(src="/js/burger.js")
