doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
<<<<<<< HEAD
        header
            include /partials/nav.pug
        main
            if success 
                p #{success}

            form(action="/createMovie" method="POST")
                label(for="titulo") Titulo 
                input(type="text" placeholder="Ej: Titanic" name="titulo")
                label(for="year") A침o 
                input(type="text" placeholder="Ej: 1997" name="year")
                label(for="director") Director 
                input(type="text" placeholder="Ej: James Cameron" name="director")
                label(for="genero") Genero 
                input(type="text" placeholder="Ej: Drama/Romance" name="genero")
                label(for="duracion") Duraci칩n 
                input(type="text" placeholder="Ej: 195 mins" name="duracion")
                label(for="imagen") Imagen 
                input(type="text" name="imagen")
                input(type="submit")
=======
        if success 
            p #{success}

        form(action="/createMovie" method="POST")
            label(for="titulo") Titulo 
            input(type="text" placeholder="Ej: Titanic" name="titulo")
            label(for="year") A침o 
            input(type="text" placeholder="Ej: 1997" name="year")
            label(for="director") Director 
            input(type="text" placeholder="Ej: James Cameron" name="director")
            label(for="genero") Genero 
            input(type="text" placeholder="Ej: Drama/Romance" name="genero")
            label(for="duracion") Duraci칩n 
            input(type="text" placeholder="Ej: 195 mins" name="duracion")
            label(for="imagen") Imagen 
            input(type="text" name="imagen")
            input(type="submit")
>>>>>>> 3d4b14cb5fc84859a2e0ceaa2509e256b7a4b9fc
