doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header
            h1 Header

            button(type="button" id="logOutBtn" onclick="logOut()") Log Out
        main 
            h1 Favourites movies

        script(src="/js/favourites.js")