doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css")
        link(rel="stylesheet", href="css/styles.css")
    body 
        header 
            nav(class = "navbar")
                a(href = "/search", class = "nav__branding") THE MOVIES APP 
                ul(class = "nav__menu")
                    li(class = "nav__item")
                        a(href = "/search", class = "nav__link") 
                            i(class = "bx bx-home") Home
                    li(class = "nav__item")
                        a(href = "/search", class = "nav__link")
                            i(class = 'bx bx-search') Movie browser
                    li(class = "nav__item")
                        a(href = "/movies", class = "nav__link")
                            i(class = 'bx bx-heart') Your movies 
                    li(class = "nav__item")
                        p(href = "#Cerrar sesión", class = "nav__link", onclick="logOut()")
                            i(class = "bx bx-log-out") Cerrar Sesión
                div(class = "hamburguer")
                    span.bar 
                    span.bar 
                    span.bar
                
    script(src="/js/burger.js")

