doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="https://kit.fontawesome.com/61b8757a12.js" crossorigin="anonymous")
        link(rel="stylesheet", href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css")
        link(rel="stylesheet", href="css/styles.css")
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    body 
        header 
            nav(class = "navbar")
                a(href = "/search", class = "nav__branding") #[span THE] MOVIES APP 
                ul(class = "nav__menu")
                    li(class = "nav__item")
                        a(href = "/search", class = "nav__link") Home
                            i(class = "bx bx-home")
                    li(class = "nav__item")
                        a(href = "/search", class = "nav__link") Movie browser
                            i(class = 'bx bx-search') 
                    li(class = "nav__item")
                        a(href = "/movies", class = "nav__link") Your movies 
                            i(class = 'bx bx-heart')
                    li(class = "nav__item")
                        p(href = "#Cerrar sesión", class = "nav__link", onclick="logOut()") Cerrar Sesión
                            i(class = "bx bx-log-out") 
                div(class = "hamburguer")
                    span.bar 
                    span.bar 
                    span.bar
                
    script(src="/js/burger.js")

