include nav.pug
    main
        if message
            p #{message}
        form(action="/recoverpassword" method="POST")
            label(for="email") E-mail address: 
            input(type="text" name="email" id="email")

            input(type="submit" value="Send")
script(src="/js/burguer.js")