include nav.pug
    main
        if !restored_password
            if error
                p #{error.message}
            form(action="/restorepassword" method="POST")
                label(for="password") New password: 
                input(type="password" name="password" id="password")

                label(for="password2") Repeat password: 
                input(type="password" name="password2" id="password2")

                input(type="submit" value="Send")

        if restored_password
            p Your password has been successfully restored.
            a(href="/login") Log In
script(src="/js/burguer.js") 