*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    height: 90%;
    width: 100%;
}

header{
    background-color: #213659;
}


/* NAVBAR */

li.nav__item{
    list-style: none;
}

.nav__link{
    color: white;
    text-decoration: none;
    transition: 0.7s ease;
    cursor: pointer;
}

.nav__link:hover{
    color: #8C89BE;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav__branding{
    text-decoration: none;
    font-size: 2rem;
}


.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width:768px) {
    .hamburguer{
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav__menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #213659;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    
    .nav__item{
        margin: 16px 0;
    }

    .nav__menu.active{
        left: 0;
    }
}

/* MAIN (FORMS) */

#buttons__section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    width: 100vw;
}
#login__buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#login__buttons > button {
    margin: 1rem 0;
}
#admin__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#admin__buttons > button {
    margin: 0 1rem;
}

#form-container{
    margin-top: 1rem;
}
#form-container > h2 {
    margin: 0 auto;
    text-align: center;
}
#form-container > form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    margin-top: 1rem;
}
#form-container > form > label {
    margin-top: 1rem;
}
#form-container > a {
    display: block;
    width: fit-content;
    margin: 1rem auto 0 auto;
}
#form-btn {
    margin-top: 1rem;
}


/* MAIN (CARDS) */

.films__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 1rem;
}

.film__container {
    display: grid;
    grid-template-columns: 25% 75%;
    /* column-gap: .5rem; */

    width: 100%;
    max-width: 350px;
    margin: 1rem;

    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(180, 178, 178);

    overflow: hidden;
}

.film__img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
}

.film__texts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    margin-left: .5rem;
}

.film__year{
    color: grey;
}

.film__buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    margin-left: .5rem;
}

/* DETALLE DE PELÃCULA */

.film__detail__container {
    display: grid;
    grid-template-columns: 25% 75%;

    width: calc(100% - 2rem);
    max-width: 750px;
    margin: 1rem auto;
}

.film__detail__container > img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    
    width: 100%;
}

.film__detail__texts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    margin-left: .5rem;
}

.film__detail__buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    margin-left: .5rem;
}

.film__detail__info {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    margin-top: .5rem;
}

.film__detail__info > p {
    margin-top: .5rem;
}

.film__detail__reviews {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.review > h3 {
    display: block;
    margin: .5rem auto;
}
.review > p {
    display: block;
    margin: .5rem auto;
}

/* ADMIN */
